body {
    font-family: Arial, sans-serif;
    margin: 80px;
}

h2{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c81c7;
}

.error {
    color: red;
    font-size: 12px;
}